<section id="about-me">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="container-about-me">
      <div class="text-box-about-me">
        <p class="text-about-me-first">
          I work with people all over the world to create impressive and
          <span class="functional">functional</span>
          <span class="websites">websites</span> that reflect each client's
          unique personality.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/about-me/about-me-desctop-min.png    1x,
            ./img/about-me/about-me-desctop@2x-min.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/about-me/about-me-leptop-min.png    1x,
            ./img/about-me/about-me-leptop@2x-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about-me/about-me-mob-min.png    1x,
            ./img/about-me/about-me-mob@2x-min.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./img/about-me/about-me-mob-min.png" alt="jefferson" />
      </picture>
    </div>

    <ul class="about-me-accordion-container">
      <li class="about-me-accordion-item">
        <div class="block-about-me">
          <h3 class="item-header-about-me">About me</h3>
          <button
            type="button"
            class="about-me-accordion-btn"
            aria-label="show resume description"
          >
            <svg class="icon-about-me" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="about-me-accordion-panel">
          <p class="ac-panel-item">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-panel-item">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="about-me-accordion-item">
        <div class="block-about-me">
          <h3 class="item-header-about-me">Role</h3>
          <button
            type="button"
            class="about-me-accordion-btn"
            aria-label="show role description"
          >
            <svg class="icon-about-me" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <ul class="about-me-accordion-panel item-list-about-me">
          <li class="ac-panel-item">
            <p class="education-text">Frontend development</p>
          </li>
          <li class="ac-panel-item">
            <p class="education-text">HeadlessCMS,Wordpress</p>
          </li>
          <li class="ac-panel-item">
            <p class="education-text">Blender(enjoy)</p>
          </li>
        </ul>
      </li>

      <li class="about-me-accordion-item">
        <div class="block-about-me">
          <h3 class="item-header-about-me">Education</h3>
          <button
            type="button"
            class="about-me-accordion-btn"
            aria-label="show education description"
          >
            <svg class="icon-about-me" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <ul
          class="about-me-accordion-panel item-list-about-me aboutme-item-list-mob"
        >
          <li class="ac-panel-item">
            <p class="education-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT <br />
              School, New York
            </p>
          </li>
          <li class="ac-panel-item">
            <p class="education-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT <br />
              School, New York
            </p>
          </li>
          <li class="ac-panel-item">
            <p class="education-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <div class="about-container-skills">
      <div class="about-skills-swiper">
        <ul class="about-skills-list">
          <li class="about-skills-circle" id="1">
            <p class="about-skills-item">HTML/CSS</p>
          </li>

          <li class="about-skills-circle" id="2">
            <p class="about-skills-item">JavaScript</p>
          </li>

          <li class="about-skills-circle" id="3">
            <p class="about-skills-item">React</p>
          </li>

          <li class="about-skills-circle" id="4">
            <p class="about-skills-item">Node.js</p>
          </li>

          <li class="about-skills-circle" id="5">
            <p class="about-skills-item">React Native</p>
          </li>

          <li class="about-skills-circle" id="6">
            <p class="about-skills-item">Soft skills</p>
          </li>
          <li class="about-skills-circle" id="1">
            <p class="about-skills-item">HTML/CSS</p>
          </li>

          <li class="about-skills-circle" id="2">
            <p class="about-skills-item">JavaScript</p>
          </li>

          <li class="about-skills-circle" id="3">
            <p class="about-skills-item">React</p>
          </li>

          <li class="about-skills-circle" id="4">
            <p class="about-skills-item">Node.js</p>
          </li>

          <li class="about-skills-circle" id="5">
            <p class="about-skills-item">React Native</p>
          </li>

          <li class="about-skills-circle" id="6">
            <p class="about-skills-item">Soft skills</p>
          </li>
        </ul>
      </div>

      <button class="about-skills-btn" type="button">
        <svg class="about-swiper-svg" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
