<section class="benefits" id="benefits">
  <div class="container double">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <div class="benefits-container">
      <ul class="benefits-list">
        <li class="benefits-item" data-benefit="expertise">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-user"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Expertise</h3>
          <p class="benefits-item-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>

        <li class="benefits-item" data-benefit="communication">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-message-chat-circle"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Communication</h3>
          <p class="benefits-item-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>

        <li class="benefits-item" data-benefit="art">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-hourglass"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Art</h3>
          <p class="benefits-item-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>

        <li class="benefits-item" data-benefit="execution">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-brush"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Urgent execution</h3>
          <p class="benefits-item-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <a href="#work-together" class="order-project">Order the project</a>
    </div>
  </div>
</section>

<!-- Modal Structure -->
<div id="benefits-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3 id="modal-title"></h3>
    <p id="modal-text"></p>
  </div>
</div>