<section class="benefits" id="benefits">
  <div class="container double">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <div class="benefits-container">
      <ul class="benefits-list">
        <li class="benefits-item" data-modal-title="Expertise"
          data-modal-text="As a highly experienced developer, I have deep knowledge of programming and website development. I can provide the best solutions tailored to your needs and ensure high-quality results. With years of hands-on experience, I have honed my skills in various technologies and methodologies. My expertise enables me to tackle complex projects efficiently and deliver exceptional outcomes."
          data-modal-svg="#icon-user">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-user"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Expertise</h3>
          <p class="benefits-item-text">
            As a highly experienced developer, I have deep knowledge of programming and website
            development.
          </p>
        </li>
        <li class="benefits-item" data-modal-title="Communication"
          data-modal-text="Understanding your needs and wants is my priority and I am always open to discussions and corrections. Effective communication ensures that your vision is realized accurately. I strive to maintain clear and consistent communication throughout the project lifecycle. Your feedback is invaluable, and I am committed to making necessary adjustments to meet your expectations."
          data-modal-svg="#icon-message-chat-circle">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-message-chat-circle"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Communication</h3>
          <p class="benefits-item-text">
            Understanding your needs and wants is my priority and I am always open to discussions and
            corrections.
          </p>
        </li>
        <li class="benefits-item" data-modal-title="Art"
          data-modal-text="Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. Creativity is the core of innovation, and I bring a unique artistic touch to every project. My artistic approach ensures that each project stands out and leaves a lasting impression. From conceptualization to execution, I infuse creativity into every aspect of my work."
          data-modal-svg="#icon-hourglass">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-hourglass"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Art</h3>
          <p class="benefits-item-text">
            Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas
            to life.
          </p>
        </li>
        <li class="benefits-item" data-modal-title="Urgent execution"
          data-modal-text="I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work. Timely delivery is crucial in ensuring client satisfaction and success. My commitment to deadlines ensures that your project progresses smoothly and is completed on time."
          data-modal-svg="#icon-brush">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-brush"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Urgent execution</h3>
          <p class="benefits-item-text">
            I understand how important time is to you. Ready to work quickly and efficiently, without
            reducing the quality of work.
          </p>
        </li>
      </ul>
      <a href="#work-together" class="order-project">Order the project</a>
    </div>
  </div>
</section>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-svg"></div>
    <h2 id="modal-title"></h2>
    <p id="modal-text"></p>
  </div>
</div>