<section class="section-cover">
  <h2 class="visually-hidden">Covers</h2>
  <div class="container covers-container">
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.jpg 1x, ./img/covers/covers-origin/rectangle-12-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.jpg"
                alt="Enjoy Learning English with English Excellence - Apply Now!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.jpg 1x, ./img/covers/covers-origin/rectangle-11-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.jpg"
                alt="Effortlessly Manage Your Finances with Wallet - Join Over 1000 Users Today!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1х.jpg 1x, ./img/covers/covers-origin/rectangle-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-1х.jpg"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1х.jpg 1x, ./img/covers/covers-origin/rectangle-5-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1х.jpg"
                alt="Fresh harvest box"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.jpg 1x, ./img/covers/covers-origin/rectangle-6-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.jpg"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-first-screen@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1х.jpg 1x, ./img/covers/covers-origin/first-screen-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-first-screen-1х.jpg"
                alt="Boost Your Business to Become an Online Leader with StarlightStudio"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.jpg 1x, ./img/covers/covers-origin/rectangle-7-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.jpg"
                alt="Mimino"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.jpg 1x, ./img/covers/covers-origin/rectangle-8-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.jpg"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.jpg 1x, ./img/covers/covers-origin/rectangle-9-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.jpg"
                alt="Organic vegetables "
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.jpg 1x, ./img/covers/covers-origin/rectangle-10-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.jpg"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>

        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-origin/rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-origin/rectangle-6-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.jpg 1x, ./img/covers/covers-origin/rectangle-6-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.jpg"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.jpg 1x, ./img/covers/covers-origin/rectangle-8-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.jpg"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-first-screen@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1х.jpg 1x, ./img/covers/covers-origin/first-screen-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-first-screen-1х.jpg"
                alt="Boost Your Business to Become an Online Leader with StarlightStudio"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1х.jpg 1x, ./img/covers/covers-origin/rectangle-5-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1х.jpg"
                alt="Fresh harvest box"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.jpg 1x, ./img/covers/covers-origin/rectangle-10-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.jpg"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.jpg 1x, ./img/covers/covers-origin/rectangle-11-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.jpg"
                alt="Effortlessly Manage Your Finances with Wallet - Join Over 1000 Users Today!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>

          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.jpg 1x, ./img/covers/covers-origin/rectangle-12-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.jpg"
                alt="Enjoy Learning English with English Excellence - Apply Now!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1х.jpg 1x, ./img/covers/covers-origin/rectangle-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-1х.jpg"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.jpg 1x, ./img/covers/covers-origin/rectangle-7-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.jpg"
                alt="Mimino"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.jpg 1x, ./img/covers/covers-origin/rectangle-9-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.jpg"
                alt="Organic vegetables "
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>

        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.jpg 1x, ./img/covers/covers-origin/rectangle-12-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.jpg"
                alt="Enjoy Learning English with English Excellence - Apply Now!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.jpg 1x, ./img/covers/covers-origin/rectangle-11-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.jpg"
                alt="Effortlessly Manage Your Finances with Wallet - Join Over 1000 Users Today!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1х.jpg 1x, ./img/covers/covers-origin/rectangle-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-1х.jpg"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.jpg 1x, ./img/covers/covers-origin/rectangle-6-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.jpg"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.jpg 1x, ./img/covers/covers-origin/rectangle-7-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.jpg"
                alt="Mimino"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-first-screen@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1х.jpg 1x, ./img/covers/covers-origin/first-screen-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-first-screen-1х.jpg"
                alt="Boost Your Business to Become an Online Leader with StarlightStudio"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.jpg 1x, ./img/covers/covers-origin/rectangle-8-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.jpg"
                alt="Reviving the traditional Ukrainan artistry"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.jpg 1x, ./img/covers/covers-origin/rectangle-9-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.jpg"
                alt="Organic vegetables "
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.jpg 1x, ./img/covers/covers-origin/rectangle-10-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.jpg"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1х.jpg 1x, ./img/covers/covers-origin/rectangle-5-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1х.jpg"
                alt="Fresh harvest box"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>

        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-11@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-11-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-11@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-11-1x.jpg 1x, ./img/covers/covers-origin/rectangle-11-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-11-1x.jpg"
                alt="Effortlessly Manage Your Finances with Wallet - Join Over 1000 Users Today!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-first-screen-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-first-screen@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-first-screen-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-first-screen@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/first-screen-1х.jpg 1x, ./img/covers/covers-origin/first-screen-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-first-screen-1х.jpg"
                alt="Boost Your Business to Become an Online Leader with StarlightStudio"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-1х.jpg 1x, ./img/covers/covers-origin/rectangle-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-1х.jpg"
                alt="Get body in shape, stay healthy"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-10@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-10-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-10@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-10-1x.jpg 1x, ./img/covers/covers-origin/rectangle-10-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-10-1x.jpg"
                alt="Transforming your body shape with Power Pulse"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-5@2х.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-5-1х.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-5@2х.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-5-1х.jpg 1x, ./img/covers/covers-origin/rectangle-5-2х.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-5-1х.jpg"
                alt="Fresh harvest box"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-6-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-6-1x.jpg 1x, ./img/covers/covers-origin/rectangle-6-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-6-1x.jpg"
                alt="A brand that is inspired by forms creates by nature"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-12@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-12-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-12@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-12-1x.jpg 1x, ./img/covers/covers-origin/rectangle-12-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-12-1x.jpg"
                alt="Enjoy Learning English with English Excellence - Apply Now!"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-7@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-7-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-7@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-7-1x.jpg 1x, ./img/covers/covers-origin/rectangle-7-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-7-1x.jpg"
                alt="Mimino"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-9@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-9-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-9@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-9-1x.jpg 1x, ./img/covers/covers-origin/rectangle-9-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-9-1x.jpg"
                alt="Organic vegetables "
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-desc-tab/desc-tab-rectangle-8@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/covers/covers-mob/mob-rectangle-8-1x.jpg 1x,
                  ./img/covers/covers-mob/mob-rectangle-8@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/covers/covers-origin/rectangle-8-1x.jpg 1x, ./img/covers/covers-origin/rectangle-8-2x.jpg 2x"
                src="./img/covers/covers-mob/mob-rectangle-8-1x.jpg"
                alt="Reviving the traditional Ukrainian artistry"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
