<header class="page-header" id="page-header">
  <div class="container">
    <nav class="page-navigation">
      <a class="header-logo-link" href="./index.html" aria-label="Website logo">
        <img
          src="./img/header/header-avatar.png"
          srcset="
            ./img/header/header-avatar.png    1x,
            ./img/header/header-avatar@2x.png 2x
          "
          alt="Website logo"
          class="header-logo-avatar"
          width="80"
          height="80"
        />
        <p class="header-logo-text">jefferson*</p>
      </a>

      <div class="header-menu-container">
        <button
          type="button"
          class="header-menu-btn"
          aria-label="Navigation menu list button"
        >
          Menu
        </button>
        <ul class="header-menu-list visually-hidden menu-is-hidden">
          <li class="header-menu-item">
            <a
              class="header-menu-link"
              href="#about-me"
              aria-label="Navigation link"
              >About me</a
            >
          </li>
          <li class="header-menu-item">
            <a
              class="header-menu-link"
              href="#benefits"
              aria-label="Navigation link"
              >Benefits</a
            >
          </li>
          <li class="header-menu-item">
            <a
              class="header-menu-link"
              href="#projects"
              aria-label="Navigation link"
              >Projects</a
            >
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#faq" aria-label="Navigation link"
              >FAQ</a
            >
          </li>
        </ul>
      </div>

      <a
        class="header-order-link"
        href="#work-together"
        aria-label="Order the project link"
        >Order the project
      </a>
      <button
        class="mobile-menu-btn"
        type="button"
        aria-label="Open mobile menu button"
      >
        <svg class="mobile-menu-btn-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-mobile-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<button type="button" aria-label="Back to Top button" class="back-to-top-btn">
  <svg class="back-to-top-btn-icon" width="20" height="20">
    <use href="./img/icons.svg#icon-arrow-up"></use>
  </svg>
</button>
