<section class="hero">
    <div class="container">
        <h1 class="hero-title">Hello.<br /> I'm Fullstack developer Lloyd Jefferson.
        </h1>
        <ul class="hero-social-block">
            <li class="hero-social-item">
                <a href="https://www.instagram.com/goitclub/" class="hero-social-link" target="_blank">ig</a>
            </li>
            <li class="hero-social-item">
                <a href="https://www.youtube.com/c/GoIT" class="hero-social-link" target="_blank">fb</a>
            </li>
            <li class="hero-social-item">
                <a href="https://www.facebook.com/goITclub/" class="hero-social-link" target="_blank">yt</a>
            </li>
            <li class="hero-social-item">
                <a href="https://github.com/GHUserNameDO/105-cyber-solutions-team-project-2" class="hero-social-link"
                    target="_blank">ch</a>
            </li>
            <li class="hero-social-email">
                <a href="lloydjefferson@gmail.com" class=" hero-email" target="_blank">lloydjefferson@gmail.com</a>
            </li>
        </ul>

    </div>
</section>