<div id="mobile-menu" class="mobile-menu" aria-hidden="true" role="navigation">
  <div class="mobile-menu-container">
    <button id="menu-close" class="mobile-menu-close" aria-label="Close menu">
      <svg width="32" height="32">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="mobile-menu-content">
      <ul class="mobile-menu-list">
        <li><a class="mobile-menu-links" href="#section1">About me</a></li>
        <li><a class="mobile-menu-links" href="#section2">Benefits</a></li>
        <li><a class="mobile-menu-links" href="#section3">Projects</a></li>
        <li><a class="mobile-menu-links" href="#section4">FAQ</a></li>
      </ul>
      <a
        class="mobile-order-btn"
        href="#work-together"
        aria-label="Order the project link"
        >Order the project</a
      >
    </div>
  </div>
</div>
