<div id="menu" class="mobile-menu" aria-hidden="true" role="navigation">

    <span class="mobile-close-btn-box"><button id="menu-close" class="mobile-menu-close"
            aria-label="Закрити меню">&times;</button></span>
    <ul class="mobile-menu-list">
        <li class="mobile-menu-item"><a class="mobile-menu-links" href="#section1">About me</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-links" href="#section2">Benefits</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-links" href="#section3">Projects</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-links" href="#section4">FAQ</a></li>
    </ul>
    <a class="mobile-order-btn" href="#work-together" aria-label="Order the project link">Order the project</a>
</div>