<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper projects-swiper">
      <ul class="swiper-wrapper projects-swiper-wrapper">
        <li class="project-swiper-slide swiper-slide">
          <div class="projects-info">
            <ul class="projects-list">
              <li class="projects-item-list">#react</li>
              <li class="projects-item-list">#js</li>
              <li class="projects-item-list">#node js</li>
              <li class="projects-item-list">#git</li>
            </ul>
            <h3 class="main-info">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://github.com/GHUserNameDO/105-cyber-solutions-team-project-2"
              target="_blank noopener noreferrer"
              class="project-link"
              >See project</a
            >
          </div>
          <div class="projects-image-wrapper">
            <picture class="projects-picture">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/expand-desc-1x.png 1x,
                  ./img/projects/expand-desc-2x.png 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  ./img/projects/expand-mob-1x.png 1x,
                  ./img/projects/expand-mob-2x.png 2x
                "
              />

              <img
                src="./img/projects/expand-mob-1x.png"
                alt="Read Journey project"
              />
            </picture>
          </div>
        </li>
        <li class="project-swiper-slide swiper-slide">
          <div class="projects-info">
            <ul class="projects-list">
              <li class="projects-item-list">#react</li>
              <li class="projects-item-list">#js</li>
              <li class="projects-item-list">#node js</li>
              <li class="projects-item-list">#git</li>
            </ul>
            <h3 class="main-info">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://github.com/GHUserNameDO/105-cyber-solutions-team-project-2"
              target="_blank noopener noreferrer"
              class="project-link"
              >See project</a
            >
          </div>
          <div class="projects-image-wrapper">
            <picture class="projects-picture">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/petlove-desc-1x.jpg 1x,
                  ./img/projects/petlove-desc-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  ./img/projects/petlove-mob-1x.jpg 1x,
                  ./img/projects/petlove-mob-2x.jpg 2x
                "
              />

              <img
                src="./img/projects/petlove-mob-1x.jpg"
                alt="Pet Love project"
              />
            </picture>
          </div>
        </li>
        <li class="project-swiper-slide swiper-slide">
          <div class="projects-info">
            <ul class="projects-list">
              <li class="projects-item-list">#react</li>
              <li class="projects-item-list">#js</li>
              <li class="projects-item-list">#node js</li>
              <li class="projects-item-list">#git</li>
            </ul>
            <h3 class="main-info">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://github.com/GHUserNameDO/105-cyber-solutions-team-project-2"
              target="_blank noopener noreferrer"
              class="project-link"
              >See project</a
            >
          </div>
          <div class="projects-image-wrapper">
            <picture class="projects-picture">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/register-desc-1x.jpg 1x,
                  ./img/projects/register-desc-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  ./img/projects/register-mob-1x.jpg 1x,
                  ./img/projects/register-mob-2x.jpg 2x
                "
              />
              <img
                src="./img/projects/register-mob-1x.jpg"
                alt="Vocab Builder project"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-buttons-wrapper">
        <button
          type="button"
          class="projects-button-prev projects-button"
          aria-label="Swipe to the previous slide"
        >
          <svg class="projects-button-icon">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          type="button"
          class="projects-button-next projects-button"
          aria-label="Swipe to the next slide"
        >
          <svg class="projects-button-icon">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
