<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="flex-reviews">
      <div class="swiper-reviews">
        <ul class="reviews-list swiper-wrapper"></ul>
        <div class="reviews-div-btn">
          <button
            type="button"
            class="reviews-btn js-btn-prev"
            aria-label="Button for previous review"
          >
            <svg class="reviews-icon js-icon-prev">
              <use xlink:href="./img/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>

          <button
            type="button"
            class="reviews-btn js-btn-next"
            aria-label="Button for next review"
          >
            <svg class="reviews-icon js-icon-next">
              <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
