/*/////////    Section 1     //////////*/

.container-about-me {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .container-about-me {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1440px) {
  .container-about-me {
    flex-direction: row;
    margin-bottom: 96px;
  }
}
.text-box-about-me {
  border-radius: 24px;
  background: #242527;
  padding: 32px;
}
@media only screen and (min-width: 767px) {
  .text-box-about-me {
    padding: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .text-box-about-me {
    width: 680px;
  }
}
.text-about-me-first {
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 240px;
  font-size: 24px;
  line-height: 1.17;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .text-about-me-first {
    font-size: 38px;
    line-height: 1.05;
    margin-bottom: 373px;
  }
}

.functional {
  color: #ed3b44;
}
.websites {
  color: rgba(250, 250, 250, 0.4);
}

/*/////////      Section Accordion      ///////////*/
.accordion-container-about-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .accordion-container-about-me {
    margin-bottom: 64px;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .accordion-container-about-me {
    margin-bottom: 96px;
  }
}

.accordion-item-about-me {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.block-about-me {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 23px;
}
.item-header-about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 300ms ease-in-out;
}

.accordion-btn-about-me {
  width: 36px;
  height: 36px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .accordion-btn-about-me {
    width: 40px;
    height: 40px;
  }
}
.item-header-about-me:hover .accordion-btn-about-me,
.accordion-btn-about-me:hover {
  border: 1px solid #fff;
  transform: scale(1.1);
}

.accordion-panel-about-me {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 12px;
}

@media only screen and (min-width: 768px) {
  .accordion-panel-about-me {
    gap: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .accordion-panel-about-me {
    gap: 32px;
  }
}

.item-list-about-me {
  gap: 10px;
}

.ac-panel-item {
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1440px) {
  .ac-panel-item {
    width: 612px;
    margin-left: 696px;
  }
}
.icon-about-me {
  transition: transform 0.5s;
  fill: none;
  stroke: white;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-active .icon-about-me {
  transform: rotate(180deg);
}

@media only screen and (max-width: 676px) {
  .aboutme-item-list-mob {
    max-width: 250px;
  }
  .icon-about-me {
    width: 18px;
    height: 18px;
  }
}

/*///////////    section Swiprer    ///////////*/

.swiper-container-about-me {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.swiper-wrapper {
  display: flex;
}

@media only screen and (min-width: 1440px) {
  .swiper-wrapper {
    margin-left: 32px;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  text-align: center;
}

.active-slide {
  background-color: #ed3b44;
  border-radius: 50%;
}

.active-slide:hover,
.active-slide:focus {
  background-color: #e0373f;
}

@media only screen and (min-width: 768px) {
  .swiper-container-about-me {
    font-size: 20px;
  }

  .circle {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .slide-tab {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .slide-mob {
    display: none;
  }

  .circle {
    width: 130px;
    height: 130px;
  }
}

.swiper-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-button-next {
  stroke-width: 2px;
  stroke: #3b3b3b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .swiper-button-next svg {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper-button-next {
    stroke-width: 2px;
    stroke: #3b3b3b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
