.mobile-menu-close {
  position: absolute;
  top: 32px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  stroke: #fafafa;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  padding-top: 302px;
  padding-bottom: 64px;
  background-image: var(--default-hero-bg-image-mobile);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .mobile-menu-container {
    background-image: var(--default-hero-bg-image-mobile-2x);
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}
.mobile-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.mobile-menu-list > li {
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list > li:hover,
.mobile-menu-list > li:active {
  color: var(--default-accent-color);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 2px solid var(--default-accent-color);
}

.mobile-menu.menu-open {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.mobile-menu-links {
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.02em;
}

.mobile-order-btn {
  display: block;
  letter-spacing: -0.02em;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: var(--default-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.mobile-order-btn:hover,
.mobile-order-btn:active {
  background-color: var(--default-accent-color-hover);
}
