/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./mobile-menu.css');

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight/InterTight-Medium.woff2') format('woff2'),
    url('../fonts/InterTight/InterTight-Medium.woff') format('woff'),
    url('../fonts/InterTight/InterTight-SemiBold.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight/InterTight-SemiBold.woff2') format('woff2'),
    url('../fonts/InterTight/InterTight-SemiBold.woff') format('woff'),
    url('../fonts/InterTight/InterTight-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  color: #fafafa;
  background-color: #1c1d20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --default-hero-bg-image-mobile: url('/img/hero/hero-mob.png');
  --default-hero-bg-image-mobile-2x: url('/img/hero/hero-mob@2x.png');
  --default-hero-bg-image-tablet: url('/img/hero/hero-tablet.png');
  --default-hero-bg-image-tablet-2x: url('/img/hero/hero-tablet@2x.png');
  --default-hero-bg-image-desktop: url('/img/hero/hero-desktop.png');
  --default-hero-bg-image-desktop-2x: url('/img/hero/hero-desctop@2x.png');
  --default-covers-bg-image: url('/img/covers/bg-covers.png');
  --default-covers-bg-image-2x: url('/img/covers/bg-covers@2x.png');
  --default-work-together-bg-image-mobile: url('/img/work-together/glass-efect-mob@1x-min.png');
  --default-work-together-bg-image-mobile-2x: url('/img/work-together/glass-efect-mob@2x-min.png');
  --default-work-together-bg-image-tablet: url('/img/work-together/glass-effect-tab@1x-min.png');
  --default-work-together-bg-image-tablet-2x: url('/img/work-together/glass-effect-tab@2x-min.png');
  --default-accent-color: #ed3b44;
  --default-accent-color-hover: #e0373f;
  --back-to-top-btn-accent-color: #ed3b4441;
}
